body{

    margin: 0px;
    background-color: rgb(201, 189, 175);
    
}


nav ul li{
    
    list-style-type: none;
    display: inline-block;
}

/*Temporary*/
footer{
    margin-top: 100%;
}

.FooterContainer{

    background-color: rgb(126, 99, 66);
    display: flex;
    text-align: center;
    color:rgb(219, 214, 205);
    padding: 50px;

}
.aboutUs, .fastLinks, .contactUs, .other{

    flex-grow: 1;
}

#footerCopyRight{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:rgb(100, 72, 37);
    font-weight: bolder;

}
h4:hover{

    color:rgb(100, 72, 37);
    text-decoration:underline;
}
h1:hover{
    text-decoration:underline;

}

.fa-brands:hover {
    transform: scale(1.2);
  
}

.fa-brands{

    padding: 15px;
  
}